{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

    <body>
        <div class="wrapper">
            <!--- page content -->
            <div class="content" style="margin-left:2%">
                <p class="typing-demo">Hey 👋, my name is...</p>
                <h1>Kelsey Chen.</h1>
                <p>I'm a first-year at Harvard who loves thinking about CS, graphic design, and how they fit together. 
                    I've conducted UI/UX research with Harvard Student Agencies, designed the website and marketing content 
                    for the largest student-run conference for women engineers, and am part of the web team for Datamatch, 
                    a satirical college matchmaking service with over 40,000 users.
                </p>
                
                <div class="card" style="width: 18rem;">
                    <img src="images/headshot.jpg" alt="Kelsey Chen">
                </div>
                
            </div>
        </div>
    </body>

{% endblock %}
