div {
    text-align: left;
}
.container {
    padding: 3%;
}
.col{
    justify-items: center;
}

/* Typing animation */
.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
@keyframes typing {
from {
    width: 0
}
}
@keyframes blink {
50% {
    border-color: transparent
}
}

/* header styling */
.logo {
    width: 3vw;
}

/* styles for typography */
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
p, li, .card-link {
    font-family: 'Quicksand',sans-serif;
}
h1 {font-size: 96px}
h2 {font-size: 48px}
h3 {font-size: 36px}
p, li {font-size: 18px}

.nav-item, .text-muted {
    font-family: 'Roboto Mono',sans-serif;
}

.nav-link {
    color: white !important;
}

.link, .card-link {
    color: #006D77;
    text-decoration: none;
}
.link:hover, .card-link:hover{
    color: #83C5BE;
}

/*project card styles*/
.card {
     border: 0;
     margin: 5px auto;
     display: flex;
}
 .card .card-body {
     z-index: 2;
     margin-top: -1rem;
     background-color: #ffffff;
     position: relative;
}
 .card:hover img {
     transform: scale(1.1);
     opacity: 1;
}
 .card .card-body, .card .card-image {
     border-radius: 5px;
     box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.project-img{
   margin-right: 50%;
}
.card-img-overlay{
    padding-top:  5%;
    padding-left: 45%;
}
.project-link{
    color: #006D77;
    text-decoration: none;
}
.project-link:hover{
    color: #83C5BE;
}
